body {
    background-color: rgb(255, 255, 249);
}

.card {
    background-color: rgb(230, 230, 230);
    width: 1000px;
}

.maintitle {
    background-color: rgb(48, 65, 95);
    text-align: left;
    color: white;
    padding: 1%;
    padding-top: 2%;
    padding-left: 5%;
}

.itemscontainer {
    width: 95%;
    height: 68%;
    margin: 2.5%;
    margin-top: 1%;
    margin-top: lightgrey;
}

.item {
    border-top: solid 0.1px grey;
    text-align: left;
    align-items: left;
}

.longer {
    width: 250px;
}

.shawty {
    width: 50px;
}


/*.table {
    padding: .5rem .5rem;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}*/